@using WebSiteBanSach.Models;
@model List<TacGia>

<br /><br /><a href="@Url.Action("DanhMucTacGia", "TacGia")" style="width:100%;text-align:center;" class="button button-submit">Chủ đề khác...</a>


 